@require('../variables')

header
	color lead-complement-color

paper-tab::shadow #ink
	color lead-complement-color

paper-tabs::shadow #selectionBar
	background lead-complement-color

paper-tabs
	background: lead-color
	font-weight inherit
	font-size	1.2em

core-toolbar
	background lead-color
	