@require('variables')

html
	font-family Roboto

paper-tab::shadow #ink
	color lead-complement-color

paper-tabs::shadow #selectionBar
	background lead-complement-color

paper-tabs
	background: lead-color
